Code Challenge:
The Arara are an isolated tribe found in the Amazon who count in pairs. 
For example one to eight is as follows:

https://en.wikipedia.org/wiki/Arara_people


1 = anane 
2 = adak 
3 = adak anane 
4 = adak adak 
5 = adak adak anane 
6 = adak adak adak
7 = adak adak adak anane
8 = adak adak adak adak 

Take a given number and return the Arara's 
equivalent

Use pytest package to enable testing 

assert count_arara(3) == 'adak anane'
assert count_arara(8) == 'adak adak adak adak'

In [2]:
import pytest as py

In [33]:
numbers = {1:'anane', 2:'adak', 3: 'adak anane', 4: 'adak adak', 5:'adak adak anane', 6:'adak adak adak',
          7:'adak adak adak anane', 8:'aadak adak adak adak'}
numbers.values()[2]
def arara(x):
    if x in numbers.keys():
        return numbers.values()[x-1]


# assert arara(3) == 'adak anane'
# assert arara(8) == 'adak adak adak adak'

In [6]:
df.head()

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
import re
import pandas as pd
import numpy as np
%matplotlib inline
billboard = pd.read_csv('/Users/smoot/Desktop/ga/DSI_SM_01/curriculum/week-02/2.4-lab/assets/datasets/billboard.csv',
                       parse_dates = True, infer_datetime_format = True, )
df = billboard.copy()

In [36]:
# df['date.entered'][0:].astype(date_time)
df['date.entered'] = pd.to_datetime(df['date.entered'])
df['date.peaked'] = pd.to_datetime(df['date.peaked'])
df['days_to_peak'] = df['date.peaked'] - ['date.entered']

TypeError: incompatible type [|S12] for a datetime/timedelta operation